[submodule "SuperDebug/Super Debug/Libraries/parsekit"]
	path = SuperDebug/Super Debug/Libraries/parsekit
	url = git@github.com:jbrennan/parsekit.git
[submodule "SuperDebug/Super Debug/Libraries/JBShellView"]
	path = SuperDebug/Super Debug/Libraries/JBShellView
	url = git://github.com/jbrennan/JBShellView.git
